---
import PublicLayout from '@/layouts/public-layout.astro';
import Hero from '@/features/landing/components/hero';
import { marketingMetadata } from '@/shared/lib/seo/metadata';
---

<PublicLayout metadata={marketingMetadata.home}>
  <main class="mx-auto flex min-h-screen w-full flex-col select-none">
    <Hero client:load />
  </main>
</PublicLayout>
