---
import '@/styles/globals.css';

import Head from '@/shared/components/seo/head.astro';
import type { SeoMetadata } from '@/shared/lib/seo/metadata';

interface BreadcrumbItem {
  name: string;
  url: string;
}

interface Props {
  metadata: SeoMetadata;
  breadcrumbs?: BreadcrumbItem[];
}

const { metadata, breadcrumbs } = Astro.props;
---

<html
  lang="fr"
  class="scrollbar scrollbar-thumb-primary scrollbar-thumb-rounded-xs scrollbar-w-3.5
    motion-safe:scroll-smooth scrollbar-hover:scrollbar-thumb-primary/90"
>
  <head>
    <Head metadata={metadata} breadcrumbs={breadcrumbs} />
  </head>
  <body class="flex flex-col font-body text-foreground selection:bg-accent selection:text-white">
    <slot />
  </body>
</html>
